#app
{
    margin-left: 30%;
    margin-right: 30%;
}

.no-wrap
{
    white-space: nowrap;
}

button, input, select, progress
{
    margin-left: 5px;
    margin-right: 5px;
}

progress
{
    width: 60%;
}

fieldset{
    margin-top: 10px;
    width: fit-content;
}

fieldset input
{
    margin-right: 40px;
}